// fonts
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300&display=swap');
$font1: 'Raleway';

@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict&display=swap');
$font2: 'Passions Conflict';

// font-size
$textH1: 6rem;
$textH2: 4.5rem;
$textH3: 3.25rem;
$textP: 2rem;

// font-weight
$f-Weight1: bold;
$f-Weight2: lighter;