// vars
// colors
$colorPrincipal: #f8cc1b;
$secondaryColor: rgb(0, 0, 0);
$thirdColor: rgba(255, 255, 255, 0.89);
$fourthColor: #fefae6;
$fifthColor: #eac11f;

$marginTop1: 1.25rem;
$marginTop2: 2.5rem;
$marginTop3: 5rem;
$marginTop4: 7.5rem;
$marginTop5: 10rem;

$marginBttm1: 1.25rem;
$marginBttm2: 2.5rem;

$d-Flex: flex;
$justify-C: space-between;

$box-S: border-box;

$varDisplay: none;
$varDisplay2: block;